<table width="100%" border="0" bgcolor="#E9DECE" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td><table width="100%" bgcolor="" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="font-family:Arial;font-size:13px"><table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td style="font-size:0px;text-align:center;padding:20px 0px;background-color:#e9dece" bgcolor="#E9DECE"> <a href="http://click.email.ft.com/?qs=e5c6d7be86b7929cde2bde290289b402f895ccdd80c1be5d237ba44e9d37ffcef73653a5976b72b4" target="_blank"><img style="font-size:0px;text-align:center;background-color:#e9dece;border:0px none" src="https://ci6.googleusercontent.com/proxy/C9Yv_nufCgUc7ovwK5SwL0wEF1bodPYJdKE7gCTBkXTJ8nmy7_dMZJ-mHoUNjT_lmn6Q-dPcl60s2eSnPT0lkuGjvhyqn8I=s0-d-e1-ft#http://media.ft.com/adimages/banner/VideoEmailMPU" alt="" title="" class="CToWUd"></a></td>
            </tr>
            <tr>
                <td bgcolor="#FFF1E0" style="height:10px;font-size:10px;line-height:10px;padding:0">&nbsp;</td>
            </tr>
            </tbody>
        </table></td></tr></tbody></table></td>
    </tr>
    </tbody>
</table>
